@media screen and (max-width:860px){

    #begin-game-button{
        margin-bottom:45%;
    }

    .main-unit{
       width:100vw;
    }
    #info-bar{
        width:100vw;
    }
    .team-box{
        width:100vw;
    } 
    .hero-image-box{
        min-width:0px;
        margin: 0 5px;

    }
}